/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/


@keyframes heart-beat-animation {
    0% {
      transform: scale(1);
    }
    14% {
      transform: scale(1.3);
    }
    28% {
      transform: scale(1);
    }
    42% {
      transform: scale(1.3);
    }
    56% {
      transform: scale(1);
    }
    70% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes sparks-fill-animation {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: var(--animation-fill-color, #ff0000);
    }
  }
  
  .like-icon:hover .main-body {
    fill: var(--contour-color, #000);
    transition: fill 0.3s 0.05s linear;
  }
  
  .like-icon:hover .core {
    fill: var(--contour-color, #000);
    transition: fill 0.3s linear;
  }
  
  .like-icon:active .main-body {
    fill: var(--animation-fill-color, #ff0000);
    transition: fill 0.3s 0.05s linear;
  }
  
  .like-icon:active .core {
    fill: var(--animation-fill-color, #ff0000);
    transition: fill 0.3s linear;
  }
  
  .like-icon .core {
    transition: fill 0.3s 0.03s linear;
  }
  
  .like-icon .main-body {
    transition: fill 0.3s linear;
  }
  
  .like-icon.is-liked .core {
    fill: var(--animation-fill-color, #ff0000);
    transition: fill 0.3s linear;
  }
  
  .like-icon.is-liked .main-body {
    fill: var(--animation-fill-color, #ff0000);
    transition: fill 0.3s 0.05s linear;
  }
  
  .like-icon .contour {
    transition: fill 0.1s linear;
  }
  
  .like-icon.is-liked .contour {
    fill: var(--animation-fill-color, #ff0000);
    transition: fill 0.3s 0.06s linear;
  }
  
  .like-icon.is-liked .sparks {
    transform-origin: center;
    animation: sparks-fill-animation 0.3s 2s ease-in alternate;
  }
  
  .card__like-button:active {
    animation: box-shadow 0.3s ease;
  }
  
  .like-icon.is-liked {
    animation: heart-beat-animation 2s ease-in-out;
  }